

/*Experimental Navbar */

.Navbutton {
  font-size:25px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#666666;
  border-color:#dcdcdc;
  font-weight:bold;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  text-shadow:inset 0px 1px 0px #ffffff;
  background:linear-gradient(#ffffff, #f6f6f6);
  padding: 6px;
}

.Navbutton:hover {
  background: linear-gradient(#D0D0D0, white);
}

.Links {
    margin-left: 300px;
    position: absolute;
    top: 40px;
}

           
/*Main Body*/

body {
	background-color: #E8E8E8;
}

p {
	font-size: 25px;
	font-family: "Monaco";
}


.h1 {
    text-align: center
}


header {
    background-color: gray;
}

.container {
margin: 0 auto;
padding: 0 20px;
}

.Logo {
    height: 100px;
    width: 300px;
}

.left {
	text-align: left;
}


.center{
	text-align: center;
}


.right {
	text-align: right;
}


th.border {
	border: 1px solid;
	width: 30%;
	background: white;
  
}

th.border2 {
  border: 1px solid;
  width: 30%;
  padding: 10px;
  background: white;
  
}

table {
	width: 80%;
	border-collapse: collapse;	
  }
  
p.phonenumber {
	font-weight: bold;
	font-size: 23px;
	padding-top: 10px;
}

th.tabletitle {
	background: #999999;
	border-top: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
}

div.table_Padding {
	padding-left: 25px;
	padding-right: 25px;
}

div.table_Padding2 {
	padding: 25px;
}

h1.Title {
	color: white;
	margin: 0;
	-webkit-text-stroke: 2px #000000;
	font-family: "Lucida Console";
	font-size: 50px;
	padding: 15px;
}

.inputsize {
	height: 50px;
	width: 1000px;
}

.inputsize2 {
	height: 300px;
	width: 1000px;
}

.buttonClass {
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:40px;
  border-width:1px;
  color:#666666;
  border-color:#dcdcdc;
  font-weight:bold;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  text-shadow:inset 0px 1px 0px #ffffff;
  background:linear-gradient(#ffffff, #f6f6f6);
}

.buttonClass:hover {
  background: linear-gradient(#f6f6f6, #ffffff);
}
.Enterpage	{
	text-align: center;
}

h3.Title {
	margin: 0;
	font-family: "Lucida Console";
	font-size: 50px;
	padding: 15px;
	text-align: center;
}

/* Footer Code */
footer.C_Footer {
background-color: #999999;
padding: 20px 0;
text-align: center;

}

footer p {
font-size: 14px;
margin-bottom: 10px;
}


.footerlogo {
    height: 100px;
    width: 300px;
}

.Para_Footer {
	font-size: 18px;
}


/*div.footer {
	overflow: hidden;
	background-color: #999999;
	height: 225px;
	color: white;
	position:relative;
	
}

.FooterInfo {
	float:right;
	text-align: center;
}

*/