/* Reset default styles */

/* Global styles */
body {
font-family: Arial, sans-serif;
font-size: 16px;
line-height: 1.5;
}






/* Header styles */
header {
    background-color: gray;
}

.Logo {
    height: 100px;
    width: 300px;
}

.Links {
    margin-left: 300px;
    position: absolute;
    top: 40px;
}

a:hover {
    background-color:beige;
}

a:active {
    color: aqua;
}


.h1 {
    text-align: center
}





/* About section styles */
#about {
    background-color: #f2f2f2;
    padding: 20px 0;
}


.tabletitle {
    border: 1px solid;
    width: 30%;
    
}


table {
	width: 90%;
	border-collapse: collapse;	
  }



.Paragraphs {
    
}



.Images {
    
}


.h2 {
    font-size: 40px;
   /* margin-bottom: 10px;
    margin-left: 280px; */
    position: relative;
  /*  top: 90px; */
}

.p1 {
    font-size: 20px;
  /*  margin-bottom: 50px;
    margin-left: 80px; */
    text-align: left;
   /* padding-right: 1100px; */
}


.h3 {
    font-size: 40px;
 /*   margin-bottom: 10px;
    margin-left: 1200px;*/
    position: relative;
  /*  bottom: 10px; */
}




.p2 {
    font-size: 20px;
  /*  margin-bottom: 50px;
    margin-right: 80px; */
    text-align: left;
  /*  padding-left: 1100px; */
    position: relative;
   /* bottom: 200px; */
    padding: 50px;
}





.House {
  /*  margin-right: 200px;*/
    position: relative;
    left: 20px;
   /* bottom: 180px; */
    height: 540px;
  /*  width: 770px; */
}



.Homebuying {
    height: 540px;
 /*   width: 850px; */
    position: relative;
    left: 0px;
  /*  bottom: 180px; */
    
}
















/* Footer styles */
footer {
background-color: bisque;
padding: 20px 0;
text-align: center;
}

footer p {
font-size: 14px;
margin-bottom: 10px;
}


.footerlogo {
    height: 100px;
    width: 300px;
}



