body {
	background-color: #E8E8E8;
	
}

header {
    background-color: gray;
}

.container {
margin: 0 auto;
padding: 30px 20px;
}

.container2 {
    margin: 0 auto;
    padding: 0px 20px;
    }

.h1 {
    text-align: center;
	color: white;
	margin: 0;
	-webkit-text-stroke: 2px #000000;
	font-family: "Lucida Console";
	font-size: 50px;
	padding: 15px;
}

.borderText h3 {
    text-align: center;
}


.Logo {
    height: 100px;
    width: 300px;
}

.Links {
    margin-left: 300px;
    position: absolute;
    top: 40px;
}

/* Body styles */

img.img1 {
    max-width: 320px;
    float: left;
    border: 3px soild #fff;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: -150px;
    box-shadow: 5px 5px grey;
}

img.img2 {
    max-width: 320px;
    float: right;
    border: 3px soild #fff;
    border-radius: 10px;
    margin-right: -150px;
    margin-left: 15px;
    box-shadow: 5px 5px grey;
}

img.img3 {
    max-width: 320px;
    float: left;
    border: 3px soild #fff;
    border-radius: 10px;
    margin-right: 12px;
    margin-left: -150px;
    box-shadow: 5px 5px grey;
}

.wrapper {
    margin: 50px auto;
    width: 70%;
     
}

img.bottomimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    width: 50%;
}

.mainContainer {
    border: 2px solid black;
    min-width: 1024;
    max-width: 1920;
    padding: 20px;
    margin: 50px;
    background-color: white;
}

.mainContainer h1 {
    text-align: center;
}

.text-box_HB h2 {
    font-size: 30px;
    text-align: center;
}

.text-box_HB p {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.text-box_HB h4 {
text-align: center;}
.text-box_HB h3 {
    text-align: center;
}


.text-box_LT h2 {
    font-size: 30px;
    text-align: center;
}


.text-box_LT p {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
.text-box_LT h4 {
    text-align: center;
    margin-right: 55px;
}
.text-box_LT h3 {
    text-align: center;
}

.text-box_CC h2 {
    font-size: 30px;
    text-align: center;
}

.text-box_CC p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.text-box_CC h5 {
    text-align: center;
    margin-left: 175px;
}

.list {
    text-align: center;
    font-weight: bold;
}


/* Footer styles */
footer {
background-color: #999999;
padding: 20px 0;
text-align: center;
margin-top: 100px;

}

footer p {
font-size: 14px;
margin-bottom: 10px;
}


.footerlogo {
    height: 100px;
    width: 300px;
}


/*NavBar Button Code*/

.Navbutton {
  font-size:25px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#666666;
  border-color:#dcdcdc;
  font-weight:bold;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  text-shadow:inset 0px 1px 0px #ffffff;
  background:linear-gradient(#ffffff, #f6f6f6);
  padding: 6px;
}

.Navbutton:hover {
  background: linear-gradient(#D0D0D0, white);
}


/*    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;*/