body {
	background-color: #E8E8E8;
}

header {
    background-color: gray;
}

.container {
margin: 0 auto;
padding: 30px 20px;
}

.container2 {
    margin: 0 auto;
    padding: 0px 20px;
    }

.h1 {
    text-align: center
}


.Logo {
    height: 100px;
    width: 300px;
}

.Links {
    margin-left: 300px;
    position: absolute;
    top: 40px;
}

img.img1 {
    max-width: 320px;
    float: left;
    border: 3px soild #fff;
    border-radius: 10px;
    margin-right: 15px;
}

img.img2 {
    max-width: 320px;
    float: right;
    border: 3px soild #fff;
    border-radius: 10px;
    margin-right: 15px;
}

img.img3 {
    max-width: 320px;
    float: left;
    border: 3px soild #fff;
    border-radius: 10px;
    margin-right: 12px;
}

.wrapper {
    margin: 150px auto;
    width: 70%; 
}

.text-box h2 {
    font-size: 30px;
    margin-left: 250px;
}

.text-box p {
    font-size: 16px;
    margin-right: 250px;
}

.text-box_LT h2 {
    font-size: 30px;
    margin-left: 750px;
}

.text-box_LT p {
    font-size: 16px;
    margin-left: 325px;
}

.text-box_CC h2 {
    font-size: 30px;
    margin-left: 250px;
}

.text-box_CC p {
    font-size: 16px;
    margin-right: 250px;
}



/* Footer styles */
footer {
background-color: #999999;
padding: 20px 0;
text-align: center;
margin-top: 100px;

}

footer p {
font-size: 14px;
margin-bottom: 10px;
}


.footerlogo {
    height: 100px;
    width: 300px;
}


/*NavBar Button Code*/

.Navbutton {
  font-size:25px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#666666;
  border-color:#dcdcdc;
  font-weight:bold;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  text-shadow:inset 0px 1px 0px #ffffff;
  background:linear-gradient(#ffffff, #f6f6f6);
  padding: 6px;
}

.Navbutton:hover {
  background: linear-gradient(#D0D0D0, white);
}


/*    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;*/